@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInButton {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes showNav {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes promptDown {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
